.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 51px;
    background-color: red;
    display: block;
    float: left;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.header__home {
    color: black;
    padding: 16px 24px;
    border: none;
    background-color: white;
    width: 105px;
    height: 51px;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
}

.header__home:hover {
    background-color: darkgray;
}

.header__link {
    color: white;
    padding: 16px;
    border: none;
    background-color: red;
    width: 105px;
    height: 51px;
    font-size: 18px;
    margin-left: -4px;
    font-family: Montserrat, sans-serif;
}

.header__link:hover {
    background-color: white;
    color: black;
}
