.text-section {
    height: 381px;
    width: auto;
    padding: 64px 16px;
    background-color: white;
    text-align: center;
}

.text-section_color {
    height: 381px;
    width: auto;
    padding: 64px 16px;
    background-color: lightgray;
    text-align: center;
}

.section-content {
    width: 66.6%;
    float: left;
    text-align: left;
}

.section-content_float {
    float: right;
    width: 66.6%;
    text-align: left;
}

.width-box {
    max-width: 980px;
    margin: auto;
}

.section-content__title {
    font-family: Montserrat, sans-serif;
    line-height: 54px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 400;
}

.section-content__infoone {
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: Lato, sans-serif;
    line-height: 27px;
}

.section-content__infotwo {
    font-size: 15px;
    font-family: Lato, sans-serif;
    line-height: 22.5px;
    color: gray;
}

.text-section__image {
    width: 33.3%;
    float: right;
}

.text-section__image_float {
    float: left;
    width: 33.3%;
}

.fa-anchor {
    font-size: 200px;
    color: red;
    padding-bottom: 64px;
    padding-top: 64px;
}

.fa-coffee {
    font-size: 200px;
    color: red;
    padding-bottom: 64px;
    padding-top: 64px;
}